<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :imgs, style: "display: block" %>
    <%= form.file_field :imgs, multiple: true, accept: 'image/jpeg,image/gif,image/png' %>

    <% if item.imgs.attached? %>
      <p>添付済みの画像（削除する画像はチェック）</p>
      <% item.imgs.each do |img| %>
        <div>
          <%= form.hidden_field :imgs, multiple: true, value: img.signed_id %>
          <%= form.check_box :delete_img_ids, { multiple: true }, img.id, false %>
          <%= image_tag img %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
