<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <% if item.imgs.attached? %>
      <% item.imgs.each do |img| %>
        <div><%= image_tag img %></div>
      <% end %>
    <% end %>
  </p>

</div>
